.navbar {
	background-color : #43CC39;
	padding: 3px;
}

.footer {
	background-color : #43CC39;
	padding: none;
	height: 2rem

}

.btn {
	color: #000000;
	background-color: #43CC39;
	border: #07E007;
	width: 15rem;

}

* {
		font-family: 'Lemonada', cursive;

}

header {
	position: relative;
	background-color: #000000;
}

body {
  	background-color: #100e17;
		color: #ffffff;
}

#courses-edit {
	border-right: 20px;

}

#courses-delete {
	border-left: 20px
}

#courses-enrollees {
	border-top: 5px;
}

.card {
	display: flex;
	background-color: #17141d;
	border-radius: 10px;
	/*   margin-left: -50px; */
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
	color: #ffffff
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

#Create-a-course {
	padding-top: 3rem
}

#CAC-container {
	position: relative;
	width: 700px;
	  border-radius: 10px;

}

#userName, #email, #mobileNo, #coursesEnrolled, #bookings {
	display: flex;
	position: relative;
}

#facebook, #linkedin, #gitlab {
	font-size: 25px;
	border-color: #17141d;
	background-color: #ffffff;
}

#couponCode{
	border-radius: 500px;
	height: 2rem;
	margin-top: 2rem;
}

#enroll-back {
	margin-top: 50rem
}

#profilePicture {

	display: flex;
	position: relative;
}